In [1]:
import pandas as pd 
import seaborn as sns
import requests 
from bs4 import BeautifulSoup
import matplotlib.pyplot as plt

In [2]:
main_df=None

In [3]:
def scraping_liquors(url,type):
# This function Scrapes cheers.com.np website and stores the required data into a dataset
    global temp_df
    global main_df
    temp_df=None
    page=requests.get(url)
    soup=BeautifulSoup(page.text,'html')
    name=soup.find_all("h5",class_="title primary-color")
    beer_name=[x.text.strip() for x in name]
    prices=soup.find_all("h4",class_="price")
    price=[x.text.strip() for x in prices]
    updated_price=[]
    for x in price:
        value = x.replace("Rs.\xa0", "").replace(",", "")
        updated_price.append(value)
    category_name=[type]*len(updated_price)
    temp_df=pd.DataFrame(columns=['Name','Price','Category'])
    main_lst = [[a, b, c] for a, b, c in zip(beer_name, updated_price, category_name)]
    for m in main_lst:
        l=len(temp_df)
        temp_df.loc[l]=m
    if main_df is None:
        main_df=temp_df.copy()
    else:
        main_df=pd.concat([main_df,temp_df],axis=0)


# For Beer
scraping_liquors('https://cheers.com.np/liquor/category?s=na&c=beer&sc%5B%5D=imported-beer&sc%5B%5D=domestic-beer&sc%5B%5D=beer-case&pf=&pt=&p=1&node=child','Beer')

# For Whisky
scraping_liquors('https://cheers.com.np/liquor/category?s=na&c=whisky&sc%5B%5D=regular-whisky&sc%5B%5D=premium-whisky&sc%5B%5D=american-bourbon-whisky&sc%5B%5D=single-malt-whisky&sc%5B%5D=domestic-whisky&pf=&pt=&p=1&node=child','Whisky')

In [4]:
# For Vodka
scraping_liquors('https://cheers.com.np/liquor/category?s=na&c=vodka&sc%5B%5D=imported-vodka&sc%5B%5D=domestic-vodka&pf=&pt=&p=1&node=child','Vodka')

In [5]:
#For Gin
scraping_liquors('https://cheers.com.np/liquor/category?s=na&c=gin&sc%5B%5D=imported-gin&sc%5B%5D=domestic-gin&pf=&pt=&p=1&node=child','Gin')

In [6]:
# For Rum 
scraping_liquors('https://cheers.com.np/liquor/category?s=na&c=rum&sc%5B%5D=imported-rum&sc%5B%5D=domestic-rum&pf=&pt=&p=1&node=child','Rum')

In [7]:
# For Wine
scraping_liquors('https://cheers.com.np/liquor/category?s=na&c=wine&sc%5B%5D=red-wine&sc%5B%5D=white-wine&sc%5B%5D=rose-wine&sc%5B%5D=sparkling-wine&sc%5B%5D=prosecco&sc%5B%5D=champagne&sc%5B%5D=flavoured-wine&sc%5B%5D=domestic-wine&pf=&pt=&p=1&node=child','Wine')

In [8]:
main_df['Category'].unique()

array(['Beer', 'Whisky', 'Vodka', 'Gin', 'Rum', 'Wine'], dtype=object)

In [9]:
# Converting Price into integer data type
main_df['Price']=main_df['Price'].astype('int')
main_df

                                                 Name  Price Category
0         Arna 6.4 Special Edition 330ML x 24 Bottles   3960     Beer
1         Arna 6.4 Special Edition 650ML x 12 Bottles   3840     Beer
2               Arna 6.4 Special Edition Bottle 330ML    175     Beer
3               Arna 6.4 Special Edition Bottle 650ML    340     Beer
4                                 Arna 8 Bottle 330ML    180     Beer
..                                                ...    ...      ...
45            Bottega Millesimato Spumante Brut 750ML   2990     Wine
46  Bottega Petalo Amore Manzoni Moscato Rose Dolc...   7200     Wine
47  Bottega Petalo Amore Moscato Spumante Dolce 750ML   2990     Wine
48            Bottega Petalo Moscato Trevenezie 750ML   2500     Wine
49  Bottega Pinot Grigio Rose Delle Venezie DOC 750ML   2500     Wine

[263 rows x 3 columns]

In [10]:
# Exporting Dataset
main_df.to_excel("Liquor_data.xlsx",index=False)